<p id="notice"><%= notice %></p>

<p>
  <strong>Name candidate:</strong>
  <%= @apply.name_candidate %>
</p>

<p>
  <strong>Last name candidate:</strong>
  <%= @apply.last_name_candidate %>
</p>

<p>
  <strong>Number document:</strong>
  <%= @apply.number_document %>
</p>

<p>
  <strong>Vacancy:</strong>
  <%= @apply.vacancy %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @apply.birthdate %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @apply.phone %>
</p>

<%= link_to 'Edit', edit_apply_path(@apply) %> |
<%= link_to 'Back', applies_path %>
